.navigation-bar{
 background-color: #073461e8;
 height: 50px;
 justify-content: center;
 display: flex;
}

.nav-link{
 color: #fff;
}
 
.hero{
 background-color:#082826;
 min-height: 80vh;
 color: #fff;
}

#profile_pic{
 height: 200px;
 width: 200px;
 object-fit: cover;2
}

.hero-content{
 width: 800px;
 margin: 0 auto;
 padding: 3em;
}

.hero-content-intro{
 display: flex;
 color: #fff;
 justify-content: center;
 align-items: center;
 gap: 1em;
}

.intro-name{
 font-size: 72px;
 color: #fff;
 margin-top: .1em;
 font-weight: 740;
 margin-left: .1em;
 letter-spacing: .11em;  
}

#profile_pic{
 border-radius: 50%;
 height: 200px;
 width: 200px;
 object-fit: cover;
}

.role{
 color: rgb(6, 217, 6);
 text-align: center;
 padding-bottom: 1em;
}
.container{
 width: 970px;
 padding-left: 2em;
 padding-right: 2em;
}
.projects-title{
 margin-top: 1em;
}
.projects-title h5{
 font-weight: bold;
}
body{
 background-color: #e8e5e5;
}

.project-wrapper{
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 gap: 2em;
 margin-top: 2em;
 margin-bottom: 2em;
}

.project-column{
 width: 300px;
 background-color: #fff;
}

.project-thumbnail{
 width: 100%;
 height: 150px;
}

.project-body{
 text-align: center;
 margin-top: 1em;
 padding: .3em;
 background-color: #fff;
}

.about-section{
  margin-bottom: 2em;
}

.skill{
 background-color: #fff;
 padding-top: 2em;
 padding-bottom: 2em;
 padding-left: 2em;
}

.skill-container{
 width: 600px;
 margin: 0 auto;
 background-color: #fff;
}

.skill-wrapper{
 margin-top: 1em;
 margin-bottom: 1em;
}

.other-skills{
 width: 600px;
 margin: 0 auto;
 display: flex;
 gap: 1em;
}

.skill-tag{
 background-color: rgba(112, 225, 253, 0.5);
 border-radius: 12px;
 width: 65px;
 padding: 2px;
 text-align: center;
}


@media(max-width:800px){

 .project-wrapper{
  flex-direction: column; 
  grid-template-columns: 1fr;
 }
 .hero-content-intro {
  flex-direction: column; 
  align-items: flex-start;
}

}

@media(max-width:900px){
  .skill-container{
    width: 100%;
  }
}

@media(max-width:600px){
  .hero-content{
    width: 100%;
  }
}

@media(max-width:400px){
  .other-skills{
    width: 100%;
  }

  .about-section{
    width: 34%;
    flex-direction: column; 

  }
}
